.hud {
    height: 128px;
    width: 500px;
    position: relative;
    .pic {
        background: $sprite -674px -257px;
        height: 128px;
        width: 168px;
    }
    .bars {
        position: absolute;
        left: 168px;
        top: 0;
        width: 300px;
        &:after {
            background: $sprite -880px -258px;
            width: 64px;
            height: 120px;
            content: '';
            position: absolute;
            top: 2px;
            right: -60px;
        }
    }
    .fill-bar {
        margin: 6px 0 8px 0;
        &:before {
            display: none;
        }
        &:after {
            display: none;
        }
    }
}
