.base-slot {
    display: block;
    float: left;
    width: 80px;
    height: 80px;
    background: $sprite -225px -328px;
    padding: 8px;
    text-align:center;
    cursor: $cursorYellow;
    user-select: none;
	line-height: 1.3;
    &:hover {
        background-position: -225px -408px;
    }
    &:active {
        background-position: -225px -488px;
        padding-top: 9px;
        cursor: $cursorClicked;
    }
    &.active {
        background-position: -225px -488px;
        padding-top: 9px;
    }
}
.slot {
    @extend .base-slot;
    position: relative;
    width: 72px;
    margin: 6px;
    padding: 8px 4px;
    > * {
        position: relative;
        z-index: 2;
    }
    &:before {
        background: url(#{$imgPath}/slots/slot_left.gif);
        width: 28px;
        height: 80px;
        content: '';
        position: absolute;
        left:-4px;
        top:0;
        z-index:0;
    }
    &:after {
        background: url(#{$imgPath}/slots/slot_right.gif) right center no-repeat;
        width: 30px;
        height: 80px;
        content: '';
        position: absolute;
        right:-4px;
        top:0;
        z-index:0

    }
    background: url(#{$imgPath}/slots/slot_middle.gif) repeat-x;
    &:hover {
        background: url(#{$imgPath}/slots/slot_middle_hover.gif) repeat-x;
        &:after {
            background: url(#{$imgPath}/slots/slot_right_hover.gif);
        }
        &:before {
            background: url(#{$imgPath}/slots/slot_left_hover.gif);
        }
    }
    &:active {
        background: url(#{$imgPath}/slots/slot_middle_active.gif) repeat-x;
        &:after {
            background: url(#{$imgPath}/slots/slot_right_active.gif);
        }
        &:before {
            background: url(#{$imgPath}/slots/slot_left_active.gif);
        }
    }
    &.active {
        background: url(#{$imgPath}/slots/slot_middle_active.gif) repeat-x;
        &:after {
            background: url(#{$imgPath}/slots/slot_right_active.gif);
        }
        &:before {
            background: url(#{$imgPath}/slots/slot_left_active.gif);
        }
    }
    &.size-2 {
        width: 144px;
    }
    &.size-3 {
        width: 216px;
    }
    &.size-4 {
        width: 288px;
    }
}
.slot-group {
	.slot div {
		padding-top: 4px;
	}
    .slot + .slot {
        left: -12px;

        &:before {
            background: url(#{$imgPath}/slots/slot_join_right.gif);
            left: -0;
            z-index: 2;
            width: 24px;
        }
        &:hover {
            &:before{
                background: url(#{$imgPath}/slots/slot_join_right_hover.gif);
            }
        }
        &:active {
            &:before{
                background: url(#{$imgPath}/slots/slot_join_right_active.gif);
            }
        }
        &.active {
            background: url(#{$imgPath}/slots/slot_join_right_active.gif);
        }
    }
    .slot:nth-child(3) {
        left:-24px;
    }
}
.slot-slider {
    width: 320px;
    height: 80px;


    padding: 0 32px;
    background-clip: content-box;
    position: relative;
    cursor: $cursorHand;
    .slider {
        width: 256px;
        height: 100%;
        overflow: hidden;
    }
    ul {
        left:0;
        padding: 0;
        margin: 0;
        width: 300%;
        height: 100%;
        background: url(#{$imgPath}/slots/slider_bg.gif) repeat-x;
        position: relative;
        transition: left .4s ease-out;
    }
    li {
        @extend .base-slot;
        position: relative;
        margin-left: 8px;
        left:0;
        &:first-child {
            margin-left: 0;
        }

    }
    > a {
        position: absolute;
        width: 28px;
        height: 48px;
        top: 16px;
        &:active {
            top: 17px;
            cursor: $cursorClicked;
        }
    }
    .prev {
        background: $sprite -633px -328px;
        left: 4px;
    }
    .next {
        background: $sprite -633px -376px;
        right:4px;
    }
}
.slot-row {
    display: block;
    padding: 0;
	margin: 2px;
    > li {
        @extend .base-slot;
        width: 72px;
        height: 80px;
        background-position: -77px -328px;
        padding: 8px 4px;
        &:first-child {
            width:76px;
            padding: 8px;
            background-position: -1px -328px;
            &:hover {
                background-position: -1px -408px;
            }
            &:active {
                background-position: -1px -488px;
                padding-top: 9px;
            }
            &.active {
                background-position: -1px -488px;
                padding-top: 9px;
            }
        }
        &:last-child {
            width:76px;
            padding: 8px 4px 8px 0;
            background-position: -149px -328px;
            &:hover {
                background-position: -149px -408px;
            }
            &:active {
                background-position: -149px -488px;
                padding-top: 9px;
            }
            &.active {
                background-position: -149px -488px;
                padding-top: 9px;
            }
        }
        &:first-child:last-child {
            width: 80px;
            padding: 8px;
            background-position: -225px -328px;
            &:hover {
                background-position: -225px -408px;
            }
            &:active {
                background-position: -225px -488px;
                padding-top: 9px;
            }
            &.active {
                background-position: -225px -488px;
                padding-top: 9px;
            }
        }
        &:hover {
            background-position: -77px -408px;
        }
        &:active {
            background-position: -77px -488px;
        }
        &.active {
            background-position: -77px -488px;
        }
    }
    &:after {
        content:'';
        display:table;
        zoom:1;
        clear:both;
    }
}
.slot-col {
    padding: 0;
    width: 80px;
	margin: 4px;
    > li {
        @extend .base-slot;
        background-position: -393px -404px;
        width: 80px;
        height:72px;
        padding: 4px 8px;
        &:first-child {
            height:76px;
            padding: 8px;
            background-position: -393px -328px;
            &:hover {
                background-position: -473px -328px;
            }
            &:active {
                background-position: -553px -328px;
                padding-top: 9px;
            }
            &.active {
                background-position: -553px -328px;
                padding-top: 9px;
            }
        }
        &:last-child {
            height:76px;
            padding: 4px 8px 0 8px;
            background-position: -393px -476px;
            &:hover {
                background-position: -473px -476px;
            }
            &:active {
                background-position: -553px -476px;
                padding-top: 5px;
            }
            &.active {
                background-position: -553px -476px;
                padding-top: 5px;
            }
        }
        &:first-child:last-child {
            height:80px;
            padding:  8px;
            background-position: -225px -328px;
            &:hover {
                background-position: -225px -408px;
            }
            &:active {
                background-position: -225px -488px;
                padding-top: 9px;
            }
            &.active {
                background-position: -225px -488px;
                padding-top: 9px;
            }
        }
        &:hover {
            background-position: -473px -404px;
        }
        &:active {
            background-position: -553px -404px;
            padding-top: 5px;
        }
        &.active {
            background-position: -553px -404px;
            padding-top: 5px;
        }
    }
    &.size-4 {
       width:296px;
        > li {
            height: 72px;
            width: 72px;
            background-position: -76px -180px;
            &:nth-child(-n+3) { // top
                background-position: -77px -104px;
                height: 76px;
                &:hover {
                    background-position: -301px -104px;
                }
                &:active {
                    background-position: -597px -104px;
                    padding-top: 5px;
                }
                &.active {
                    background-position: -597px -104px;
                    padding-top: 5px;
                }
            }
            &:nth-child(4) { // top right
                background-position: -149px -104px;
                height: 76px;
                width: 76px;
                &:hover {
                    background-position: -373px -104px;
                }
                &:active {
                    background-position: -597px -104px;
                    padding-top: 5px;
                }
                &.active {
                    background-position: -597px -104px;
                    padding-top: 5px;
                }
            }
            &:nth-child(4n+1) { // left
                background-position: -1px -180px;
                width: 76px;
                &:hover {
                    background-position: -225px -180px;
                }
                &:active {
                    background-position: -449px -180px;
                    padding-top: 5px;
                }
                &.active {
                    background-position: -449px -180px;
                    padding-top: 5px;
                }
            }
            &:nth-child(4n+8) { // right
                background-position: -149px -180px;
                width: 76px;
                &:hover {
                    background-position: -373px -180px;
                }
                &:active {
                    background-position: -597px -180px;
                    padding-top: 5px;
                }
                &.active {
                    background-position: -597px -180px;
                    padding-top: 5px;
                }
            }
            &:nth-last-child(-n+3) { // bottom
                background-position: -77px -252px;
                height: 76px;
                &:hover {
                    background-position: -301px -252px;
                }
                &:active {
                    background-position: -525px -252px;
                    padding-top: 5px;
                }
                &.active {
                    background-position: -525px -252px;
                    padding-top: 5px;
                }
            }
            &:nth-last-child(4) { // bottom left
                background-position: -1px -252px;
                height: 76px;
                width: 76px;
                &:hover {
                    background-position: -225px -252px;
                }
                &:active {
                    background-position: -449px -252px;
                    padding-top: 5px;
                }
                &.active {
                    background-position: -449px -252px;
                    padding-top: 5px;
                }
            }
            &:first-child { //top left
                background-position: -1px -104px;
                height: 76px;
                width: 76px;
                &:hover {
                    background-position: -225px -104px;
                }
                &:active {
                    background-position: -449px -104px;
                    padding-top: 9px;
                }
                &.active {
                    background-position: -449px -104px;
                    padding-top: 9px;
                }
            }
            &:last-child  { // bottom right
                background-position: -149px -252px;
                height: 76px;
                width: 76px;
                &:hover {
                    background-position: -373px -252px;
                }
                &:active {
                    background-position: -597px -252px;
                    padding-top: 5px;
                }
                &.active {
                    background-position: -597px -252px;
                    padding-top: 5px;
                }
            }
            &:hover {
                background-position: -301px -180px;
            }
            &:active {
                background-position: -525px -180px;
                padding-top: 5px;
            }
            &.active {
                background-position: -525px -180px;
                padding-top: 5px;
            }
        }
    }
    &:after {
        content:'';
        display:table;
        zoom:1;
        clear:both;
    }
}
