.text-primary {
	color: $blue;
}
.text-success {
	color: $green;
}
.text-info {
	color: $lightBlue;
}
.text-warning {
	color: $orange;
}
.text-danger {
	color: $red;
}
.label-primary {
	background: $blue;
}
.label-success {
	background: $green;
}
.label-info {
	background: $lightBlue;
}
.label-warning {
	background: $orange;
}
.label-danger {
	background: $red;
}
